/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #e3e3e9;
}

.container {
  max-width: 1600px;
}

.block__title {
  margin-bottom: 8px;
  font-weight: 600;
}

.calendar {
  max-width: 280px;
  padding: 8px;
  background-color: #fff;
  margin-bottom: 40px;
}

.calendar__top-bar {
  display: flex;
  justify-content: space-between;
}

.calendar__top-bar span {
  display: block;
}

.calendar__days {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}

.calendar__days div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dbdbdb;
  cursor: pointer;
}

.calendar__days div.active {
  background-color: #b9193c;
  color: #fff;
}

.split {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.side {
  position: sticky;
  top: 16px;
}

table {
  display: table;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  font-size: 14px;
}

table tr {
  cursor: pointer;
}


table tr:first-child {
  background-color: #4b4b97;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f7f7fa;
}

table tr:hover {
  background-color: rgb(209, 209, 209);
}

table tr:first-child {
  background-color: #4b4b97;
}

table tr.active {
  background-color: #b9193c;
  color: #fff;
}

table td {
  padding: 8px;
  border: 1px solid #dbdbdb;
}